/* Coolors Exported Palette - coolors.co/ccc7b9-e2d4ba-efeff0-d5cad6-6b5e62 */

/* HSL */
$color1: hsla(44%, 16%, 76%, 1);
$color2: hsla(39%, 41%, 81%, 1);
$color3: hsla(240%, 3%, 94%, 1);
$color4: hsla(295%, 13%, 82%, 1);
$color5: hsla(342%, 6%, 39%, 1);

/* RGB */
$color1: rgba(204, 199, 185, 1);
$color2: rgba(226, 212, 186, 1);
$color3: rgba(239, 239, 240, 1);
$color4: rgba(213, 202, 214, 1);
$color5: rgba(107, 94, 98, 1);