/* Coolors Exported Palette - coolors.co/8693ab-bdd4e7-212227-637074-aab9cf */

/* HSL */
$color1: hsla(219%, 18%, 60%, 1);
$color2: hsla(207%, 47%, 82%, 1);
$color3: hsla(230%, 8%, 14%, 1);
$color4: hsla(194%, 8%, 42%, 1);
$color5: hsla(216%, 28%, 74%, 1);

/* RGB */
$color1: rgba(134, 147, 171, 1);
$color2: rgba(189, 212, 231, 1);
$color3: rgba(33, 34, 39, 1);
$color4: rgba(99, 112, 116, 1);
$color5: rgba(170, 185, 207, 1);