/* Coolors Exported Palette - coolors.co/f85a3e-ff7733-e15634-e63b2e-e1e6e1 */

/* HSL */
$color1: hsla(9%, 93%, 61%, 1);
$color2: hsla(20%, 100%, 60%, 1);
$color3: hsla(12%, 74%, 54%, 1);
$color4: hsla(4%, 79%, 54%, 1);
$color5: hsla(120%, 9%, 89%, 1);

/* RGB */
$color1: rgba(248, 90, 62, 1);
$color2: rgba(255, 119, 51, 1);
$color3: rgba(225, 86, 52, 1);
$color4: rgba(230, 59, 46, 1);
$color5: rgba(225, 230, 225, 1);